.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}

.board {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.status{
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.boardRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  font-size: 9rem;
  border: 1px solid #000;
  cursor: pointer;
}

.btn{
  padding: 1rem;
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width : 600px){
  .main{
    display: block;
    padding: 3rem;
  }

  .board{
    height: fit-content;
    margin-bottom: 5rem;
  }
}